.carousel {
    width: 100%;
    background-color: var(--grey);
    padding: calc(var(--size)*2) 0 calc(var(--size)*4) 0;
    display: flex;
    flex-wrap: wrap;
}
.landscapes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.arrow {
    width: calc(var(--size)*4);
    margin: auto 0;
    display: inline-block;
    cursor: pointer;
}
.left-arrow {
    transform: rotate(180deg)
}
.right-arrow {
    margin-left: auto;
}
.content-carousel {
    margin: auto;
    width: calc(100% - var(--size)*8);
    margin:  0 auto;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(var(--size)*12);
}
.landscapes figure {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.landscapes figure img {
    width: 100%;
}

@media (min-width: 960px)  {
    .landscapes figure {
        width: 33%;
        display: inline-block;
        margin: auto;
    }
}