:root {
    /* colores */
    --corpColor: #F39200;
    --dark: rgb(99, 99, 99);
    --grey: rgb(228, 228, 228); 

    /* tamaños */
    --size: 8px; 

    /* fuentes */
    --title: 'Pacifico', cursive;
    --text: 'Lato', sans-serif;
    --fbase: 4px;

    /* otros */
    --border: 1px solid var(--grey);
  };

  

 